body
{
    background-size: 100%
}

.row
{
    color: white;
    margin: auto;
    text-align: center;
}
.col-md-1
{
    margin: auto;
    padding: -10%;
}
.avatar
{
    height: 10%;
    width: 10%;
}
.col-sm-6
{
    background-color: black;
    border: yellow dashed 2px;
}

