{% extends 'base.html.twig' %}
    {% block body %}
    <hr>
       {% for article in article %}
            <div class="row">
                <div class="col-sm-6 col-md-4" style="width:auto">
                    <div class="thumbnail">
                        <img src="{{ asset('madara.png') }}" alt="...">
                        <div class="caption">
                            <h3>{{ article.title }}</h3>
                            <p>{{ article.text|slice(0, 50) ~ '...' }}</p>
                            <p><a href="{{ path('show_article', {'article': article.id}) }}" class="btn btn-primary" role="button">Czytaj dalej</a></p>
                        </div>
                    </div>
                </div>
       {% endfor %}
    {% endblock %}