{% extends 'base.html.twig' %}
    {% block body %}
    <hr>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{{ asset('madara.png') }}" alt="...">
                    <div class="caption">
                        <h3>TYTUL</h3>
                        <p>dasdsadsadsadsadasdasdsad...</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{{ asset('madara.png') }}" alt="...">
                    <div class="caption">
                        <h3>TYTUL</h3>
                        <p>dasdsadsadsadsadasdasdsad...</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{{ asset('madara.png') }}" alt="...">
                    <div class="caption">
                        <h3>TYTUL</h3>
                        <p>dasdsadsadsadsadasdasdsad...</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
                    </div>
                </div>
            </div>
        </div>


    {% endblock %}